/* Apuntar a elementos de anclaje con hipervínculos */
a[href]:not(:visited) {
  /* Apuntar al estado visitado del enlace */
  color: var(--text-color); /* Establecer color para enlaces no visitados */
  font-style: italic; /* Poner el texto en cursiva */
}

/* Apuntar al estado de desplazamiento del enlace */
a:hover {
  text-decoration: underline; /* Decorar con un subrayado al pasar el mouse */
}

/* Apuntar al estado activo del enlace */
a:active {
  background-color: var(--color-light-grey); /* Establecer el color de fondo con la variable color-light-grey */
}

