/* Exercise 29 Styles ========================================================================== */

/* Edit the nav-item-link-hover property */
.nav-item-link-hover {
  color: var(--color-white);
}

/* Target the before pseudo elements of nav-link inside the nav */
.nav .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 20%;
}

/* Target the before pseudo elements of nav-link when nav-item is hover and is inside nav */
.nav .nav-item:hover .nav-link::before {
  background-color: var(--color-primary);
  width: 100%;
}

