/* Añade Open Sans como la primera opción para font-family-base */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Revisit the section-tagline and card-category declarations */
.section-tagline {
  color: var(--color-primary);
}

.card-category {
  color: var(--color-primary);
}

/* Revisit the body and anchor declarations */
body {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

:root {
  --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}

/* Define custom font-size properties */
:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;
}

/* Set font size for all fonts in the html element to 62.5% of their normal size */
html {
  font-size: 62.5%;
}

/* Set font size for any fonts in the body to font-size-medium */
body {
  font-size: var(--font-size-medium);
}

/* You can use these custom properties in your styling for different elements */
/* Example: */
h1 {
  font-size: var(--font-size-x-large);
}

p {
  font-size: var(--font-size-medium);
}

:root {
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* Set font weight for fonts in the body to font-weight-regular */
body {
  font-weight: var(--font-weight-regular);
}

/* Set font weight for fonts in the headings to font-weight-bold */
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

/* Añade Open Sans como la primera opción para font-family-base */
:root {
  --font-family-base: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* Añade Raleway como la primera opción para font-family-title */
:root {
  --font-family-title: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

